# {{ ansible_managed }}
# See the sshd_config(5) manpage for details
#
{% for key, val in openssh_server_sshd_config.iteritems()|sort if key != 'match' %}
{% if val in _openssh_server_sshd_config_boolean.keys() %}
{{ key|openssh_server_sshd_config_option(_openssh_server_sshd_config_replacements) }} {{ _openssh_server_sshd_config_boolean[val] }}
{% elif val is mapping %}
{% if key == 'listen_address' %}
{{ key|openssh_server_sshd_config_option(_openssh_server_sshd_config_replacements) }} {{ val.address }}{{ ':%s'|format(val.port) if val.port is defined else '' }}
{% else %}
{% for subkey, subval in val.iteritems() %}
{{ key|openssh_server_sshd_config_option(_openssh_server_sshd_config_replacements) }} {{ subkey }} {{ subval }}
{% endfor %}
{% endif %}
{% elif val is sequence and val is not string %}
{% if key in _openssh_server_sshd_config_join %}
{{ key|openssh_server_sshd_config_option(_openssh_server_sshd_config_replacements) }} {{ val|join(_openssh_server_sshd_config_join[key]) }} 
{% else %}
{% for line_val in val %}
{% if line_val is mapping and key == 'listen_address' %}
{{ key|openssh_server_sshd_config_option(_openssh_server_sshd_config_replacements) }} {{ line_val.address }}{{ ':%s'|format(line_val.port) if line_val.port is defined else '' }}
{% else %}
{{ key|openssh_server_sshd_config_option(_openssh_server_sshd_config_replacements) }} {{ line_val }}
{% endif %}
{% endfor %}
{% endif %}
{% elif val is not none %}
{{ key|openssh_server_sshd_config_option(_openssh_server_sshd_config_replacements) }} {{ val }}
{% endif %}
{% endfor %}

{% if 'match' in openssh_server_sshd_config %}
{% for match in openssh_server_sshd_config['match'] %}
Match{{ ' User ' if match.user is defined else '' }}{{ match.user|default('') if match.user is not defined or match.user is string else match.user|join(',') }}{{ ' Group ' if match.group is defined else '' }}{{ match.group|default('') if match.group is not defined or match.group is string else match.group|join(',') }}{{ ' Host ' if match.host is defined else '' }}{{ match.host|default('') if match.host is not defined or match.host is string else match.host|join(',') }}{{ ' LocalAccess ' if match.local_address is defined else '' }}{{ match.local_address|default('') if match.local_address is not defined or match.local_address is string else '' }}{{ ' LocalPort ' if match.local_port is defined else '' }}{{ match.local_port|default('') if match.local_port is not defined or match.local_port is string else match.local_port|join(',') }}{{ ' Address ' if match.address is defined else '' }}{{ match.address|default('') if match.address is not defined or match.address is string else match.address|join(',') }}
{% for key, val in match.iteritems()|sort if key not in ['user', 'group', 'host', 'local_address', 'local_port', 'address'] %}
{% if val in _openssh_server_sshd_config_boolean.keys() %}
  {{ key|openssh_server_sshd_config_option(_openssh_server_sshd_config_replacements) }} {{ _openssh_server_sshd_config_boolean[val] }}
{% elif val is mapping %}
{% for subkey, subval in val.iteritems() %}
  {{ key|openssh_server_sshd_config_option(_openssh_server_sshd_config_replacements) }} {{ subkey }} {{ subval }}
{% endfor %}
{% elif val is sequence and val is not string %}
{% if key in _openssh_server_sshd_config_join %}
  {{ key|openssh_server_sshd_config_option(_openssh_server_sshd_config_replacements) }} {{ val|join(_openssh_server_sshd_config_join[key]) }} 
{% else %}
{% for line_val in val %}
  {{ key|openssh_server_sshd_config_option(_openssh_server_sshd_config_replacements) }} {{ line_val }}
{% endfor %}
{% endif %}
{% elif val is not none %}
  {{ key|openssh_server_sshd_config_option(_openssh_server_sshd_config_replacements) }} {{ val }}
{% endif %}
{% endfor %}

{% endfor %}
{% endif %}
